name: mattermost-ziti-webhook
on:
  create:
  delete:
  issues:
  issue_comment:
  pull_request_review:
  pull_request_review_comment:
  pull_request:
  push:
  fork:
  release:

jobs:
  mattermost-ziti-webhook:
    runs-on: ubuntu-latest
    name: POST Webhook
    if: github.actor != 'dependabot[bot]'
    env:
      ZITI_LOG: 99
      ZITI_NODEJS_LOG: 99
    steps:
      - uses: openziti/ziti-webhook-action@v1
        with:
          ziti-id: ${{ secrets.ZITI_MATTERMOST_IDENTITY }}
          webhook-url: ${{ secrets.ZHOOK_URL_DEV_NOTIFICATIONS }}
